<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depression Diagnosis System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body class="bg-gray-100">
    <nav class="bg-blue-600 p-4">
        <div class="container mx-auto">
            <h1 class="text-white text-3xl font-bold">Mental Health Expert System</h1>
        </div>
    </nav>
    <div class="container mx-auto mt-10">
        <div class="bg-white p-8 rounded-lg shadow-lg">
            <h2 class="text-2xl font-semibold text-gray-800 mb-4">Welcome to the Mental Health Expert System</h2>
            <p class="text-gray-600 mb-6">Select a system to proceed:</p>
            <ul class="space-y-4">
                <li>
                    <a href="/depression" class="block w-full text-center py-2 px-4 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition duration-300">Depression Diagnosis</a>
                </li>
                <li>
                    <a href="/stress" class="block w-full text-center py-2 px-4 bg-green-500 text-white rounded-lg hover:bg-green-600 transition duration-300">Stress Diagnosis</a>
                </li>
                <li>
                    <a href="/anxiety" class="block w-full text-center py-2 px-4 bg-red-500 text-white rounded-lg hover:bg-red-600 transition duration-300">Anxiety Diagnosis</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>